.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(0, 0%, 0%);
}

body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 100%;
    padding: 4rem 25% 0rem 25%;
}

header img {
    margin-bottom: 3rem;
}

section h1 {
    font-size: 4vmax;
    font-weight: 100;
    color: hsl(0, 0%, 59%);
    margin-bottom: 1rem;
}

.soon {
    font-weight: 700;
    color: hsl(209, 33%, 12%);
}

section p {
    font-size: 1.3rem;
    font-weight: 100;
    color: hsl(209, 33%, 12%);
    margin-bottom: 1rem;
}

form {
    width: 100%;
    display: flex;
    gap: 3%;
    flex-flow: row wrap;
    
}

#errormsg {
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 500;
    color: hsl(354, 100%, 66%);
    margin: 0 0 0 2rem;
    display: none;
    order: 3;
    max-width: 100%;
}

input[type="email"] {
    width: 65%;
    height: 3.5rem;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 59%);
    padding-left: 2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

input[type="email"]::placeholder {
    color: hsla(0, 0%, 59%, 0.767);
}

input[type="email"]:hover {
    border-color: hsl(223, 100%, 88%);
}

input[type="submit"] {
    width: 32%;
    height: 3.5rem;
    border-radius: 50px;
    font-size: 1.1rem;
    border: none;
    color: white;
    background-color: hsl(223, 87%, 63%);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: hsl(223, 100%, 88%);
}

figure img {
    width: 100%;
    margin-block: 3rem;
}

footer p:first-of-type {
    font-size: 0.7rem;
    font-weight: lighter;
    color: hsl(0, 0%, 59%);
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.socials a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0;
}

#fbLogo,
#twitterLogo,
#instaLogo {
    color: hsl(223, 87%, 63%);
    border-radius: 50%;
    border: 0.1px solid hsl(223, 87%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 1rem;
    width: 1rem;
    margin: 0;
}

#fbLogo:hover,
#twitterLogo:hover,
#instaLogo:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(223, 87%, 63%);
}

@media (max-width: 700px) {
    main {
        padding: 5rem 10% 0rem 10%;
    }

    header img {
        margin-bottom: 1.8rem;
        width: 20%;
    }

    section h1 {
        font-size: 1.5rem;
        font-weight: 100;
        color: hsl(0, 0%, 59%);
        margin-bottom: 1rem;
    }

    section p {
        font-size: 0.9rem;
        font-weight: 100;
        margin-bottom: 2rem;
    }

    form {
        flex-direction: column;
        margin-bottom: 4rem;
    }

    input[type="email"] {
        width: 100%;
        height: 2.7rem;
        font-size: 0.9rem;
        font-weight: 100;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        width: 100%;
        height: 2.7rem;
        font-size: 0.9rem;
        bx-shadow: 5px 5px 10px 0 hsl(0, 5%, 76%);
    }

    #errormsg {
        margin: 0 0 1.5rem 0;
        order: 0;
        max-wdth: 100%;
    }

    figure img {
        margin-bottom: 6rem;
        margin-top: 0;
    }

    footer p:first-of-type {
        font-size: 0.6rem;
        font-weight: lighter;
    }
}
